<%- include('./partials/head') %>

  <section class="front">
    <h1> <%=  data.name %> <span><%= data.surname %></span></h1>
    <button id="flip1">
      <span class="material-symbols-outlined"> sync </span>
    </button>
  </section>

  <section class="back">
    <article class="info">
      <img src="<%= data.avatar %>">
      <h2><%= data.name %> <%= data.surname %></h2>
      <p>AKA <%= data.nickname %></p>
    </article>

    <article class="bio">
      <h2>Bio:</h2>
      <p><%= data.bio %></p>
    </article>

    <div class="links">
      <a href="<%= data.website %>">GitHub</a>
      <a href="mailto:<%= data.email%>">Email</a>
    </div>

    <button id="flip2">
      <span class="material-symbols-outlined"> sync </span>
    </button>
  </section>
   


<%- include('./partials/foot') %>
